.main-page-img-container {
  width: 100%;
  height: 550px;
  overflow: hidden;
  .main-page-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -250px;
  }
}
.image-boxes-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .image-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .image-item-img-wrapper {
      position: relative; // potrzebne dla overlay
      display: block;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
      }
    }

    &:hover .image-item-img-wrapper::after {
      opacity: 0.3; // efekt zabielenia zdjęcia
    }

    .image-item-img {
      display: block;
      width: 100%;
      height: auto; // lub dowolna wysokość
    }
  }
}
