@use "../styles/colors" as c;

.main-page-img-container {
  width: 100%;
  height: 550px;
  overflow: hidden;
  .main-page-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -250px;
  }
}
.image-boxes-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .image-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .image-item-img {
      width: 100%;
      height: auto;
    }
  }
}

.about-section-overlay {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: c.$beige;
  height: 674px;
  overflow: hidden;
  .about-text-container {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    .about-text-span-container {
      width: 400px;
    }
  }
  .about-image-container {
    width: 50%;
    .about-image {
      height: 674px;
    }
  }
}
